body{ 
	margin:0;
	padding:0;
		background-image: url(../);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;
		width: 100%;
		margin: 0;
		padding: 0;
	}
}
.navbar{
	margin-bottom: 0;
}
img{
	border-radius: 70%;