.img-back{
    background-image: url("../img/fonod 3.jpg");
  width: 100%;
  height: 30em;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  opacity:;
}
.box-text{
  background-color: rgba(250, 250, 250, 0.4);
  border-radius: 0.5em;
  margin-top: 5em;
}
.img-yo{
  border: 0.7em solid #fff;
  z-index: 3;
  position: relative;
  top: -7em;
  }
  .text-center{
    text-align: center;
  }
.about-me{
  background-color:#6B3A00;
  color:#E0E0E2;

}
.tools{
  background-color:#E0E0E2;
  color: #6B3A00;
}
.margin-fixed{
  margin-bottom: 0;
}
.proyect{
  background-color: #6B3A00;
  color: #E0E0E2;

}
.contact{
   background-color:#E0E0E2;
   color: #6B3A00;
}
.footing{
   background-color: #6B3A00;
   color: #E0E0E2;
}
.title-sect{
  margin:2em 0em 2em 0em;
}