body{ 
	margin:0;
	padding:0;
}
.my{
	background-image: url(../img/snowflake-snow-crystal-winter-ice-photo-1091545-wallhere.com.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:bottom;
	width: 100%;
	height:13em;
	opacity: 0.7;
	font-size: 2em;


}
.navbar{
	margin-bottom: 0;
}
#img-yo{
	width: 50%;
	z-index: 6;
	border: 0.7em solid #fff;
	z-index: 3;
	position: relative;
	top: -9em;
}
.profile, .contact{
	background-color: #283e4a;
}
.title-profile{
	color:aqua;
	margin-bottom: 4em;
}
.title-uno{
	color:aqua;
	margin-bottom: 2em;
}
.proyects, .footing{
	background-color: #A3B4C3;
}
.title-my{
	color:aqua;

}
.text-contact{
	color:aqua;
}
